grpcio
grpcio-tools
pydict2class
pydantic
requests

# python -m grpc_tools.protoc     --proto_path=src\main\Retrieval\proto\     --python_out=src\main\Retrieval     --pyi_out=src\main\Retrieval     --grpc_python_out=src\main\Retrieval    src\main\Retrieval\proto\data.proto
# cd src/main
# python -m Generation.testSubAgent